body{
background-color: #ebebeb;
}
.section{
width: 200px;
height: 60px;
background-color: green;
position: relative;
left:60px;
top: 0px;
padding-top: 15px;
margin-top: 5px;
float: left;
font-size: 30px;
color: white;
}
.link{
    top: 5px;
    right: 220px;
    width: 250px;
    height: 60px;
    background-color: white;
    padding:0px 25px 25px 25px;
    position: absolute;
    color: #777;
    text-align: center;
}

h1{
  color: green;
}
.top{
  width: 100%;
  height: 70px;
  top:0px;
  background-color: white;
  margin-bottom: 15px;
  text-align: center;
  padding: 10px;
  position: absolute;
}
.left{
  float:left;
  top: 80px;
  width: 500px;
  height: 700px;
  background-color: white;
  margin: 30px 30px 30px 60px;
  padding:0px 25px 25px 25px;
  position: relative;
}
.right{
  float:left;
  top: 80px;
  height: 200px;
  width: 300px;
  background-color: white;
  margin: 30px 30px 30px 60px;
  padding:0px 25px 25px 25px;
  position: relative;
}



